.block {
  display: inline-block;
}

.container {
  display: flex;
  padding: 0;
  margin-bottom: 2em;
}

.btn-primary {
  border: 0;
  flex-grow: 1;
  border-radius: 25px;
  background: #747474;
}

.btn-primary:hover {
  background-color: rgba(116, 116, 116, 0.68);
}

.btn-primary:active {
  background-color: rgba(116, 116, 116, 0.33);
}

.form-control {
  border: 1px solid #dedede;
  border-radius: 25px;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

#nameChannel {
  flex-grow: 1;
}
