<div class="container">
  <input type="text" class="form-control" id="name" required [(ngModel)]="message.content" name="name" autofocus (keyup.enter)="sendMessage()"
         placeholder="Message">
  <div class="bottom">
    <input type="text" class="form-control" id="user" required [(ngModel)]="message.from" name="user"
            placeholder="From">
    <button class="btn btn-primary" (click)="sendMessage()">Send</button>
  </div>
  <div *ngIf="checkuser" id="checkUser">
    Le nom d'utilisateur de doit ni contenir d'espaces, ni majuscules, ni caractères spéciaux
  </div>

</div>
