p {
  padding: 20px;
}

.bottom {
  display: inline-flex;
  width: 100%;
}

.btn-primary {
  border: 0;
  flex-grow: 1;
  border-radius: 25px;
  background: #218bf5;
  margin: 5px 0 5px 5px;
  padding: 12px 20px;
}

.btn-primary:active {
  background-color: #49b3f6;
}

input::-webkit-input-placeholder {
  color: white !important;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form-control {
  border: 0;
  border-radius: 25px;
  background: #218bf5;
  margin: 5px 0;
  padding: 12px 20px;
  color: #FFFFFF;
}

#user {
  flex-grow: 10;
}

#messageModel{visibility: hidden}
