#element {
  height: 5em;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #ddd;
}

#element:hover {
  background: #efefef;
}

#element:active {
  background: #c3c3c3;
}
