h1 {
  text-align: center;
}

.container {
  justify-content: center;
  display: flex;
  width: 85%;
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-footer {
  background: #FFFFFF;
  padding: 0;
}

.card-header {
  padding: 30px;
}

.channel {
  padding: 30px 0;
  flex-grow: 1;
  margin-right: 3em;
}

.chat {
  flex-grow: 3;
}

nav ul{height:800px; width:100%;}
nav ul{overflow:hidden; overflow-y:scroll;}
