.container-fluid {
  height:100%;
  display: flex;
}

h1 {
  text-align: center;
}

.row {
  justify-content: center;
  margin: auto;
  position: relative;
  width: 85%;
  height: 100%;
}

.card-header {
  padding: 2em 2em 0 2em;
  background: none;
}

.card-footer {
  background: none;
}

.side {
  padding: 2em;
  flex: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.content {
  flex: 2;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#channels {
  height: 1000px;
  width: 90%;
  overflow: hidden;
  overflow-y: scroll;
}

#messages {
  height: 1000px;
  width: 90%;
  overflow: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width: 767px) {
  #channels {
    height: 240px;
  }

  #messages {
    height: 650px;
  }
}
