h1 {
  text-align: center;
}

.container {
  justify-content: center;
  display: flex;
  width: 100%;
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-header {
  padding: 2em;
}

.channel {
  padding: 2em;
  flex: 1;
}

.chat {
  flex: 2;
}

#channels {
  height: 1100px;
  width: 90%;
  overflow: hidden;
  overflow-y: scroll;
}

#messages {
  height: 900px;
  width: 90%;
  overflow: hidden;
  overflow-y: scroll;
}
