<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 side" flex>
      <h1> {{title2}} </h1>
      <app-channel-form></app-channel-form>
      <nav id="channels">
        <app-channel-list></app-channel-list>
      </nav>
    </div>
    <div class="col-md-8 content" flex>
      <div class="card-header top">
        <h1> {{title}} </h1>
        <nav id="messages">
          <app-message-list></app-message-list>
        </nav>
      </div>
      <div class="card-footer form">
        <app-message-form></app-message-form>
      </div>
    </div>
  </div>
</div>

