<p>
  Message: <strong> {{message.content}} </strong> <br>
  From: <strong>{{message.from}}</strong>
</p>

<div *ngIf="checkyt()">
  <iframe  class="youtube-player" [src]=" urlyb | safeResourceUrl" frameborder="0" allowfullscreen></iframe>
</div>
<div *ngIf="checkins()">
  <iframe width="320" height="440" [src]=" urlins | safeResourceUrl" frameborder="0"></iframe>
</div>
<div *ngIf="checkImg()" style="display: inline-block"  >
  <img width="100%" height="100%" [src]=" urlImg " id="image">
</div>
<div *ngIf="checktw()">
  <iframe width="320" height="440" [src]="urltw | safeResourceUrl" frameborder="0"></iframe>
</div>
