.btn-primary {
  border: 6px solid #218bf5;
  background: #fff;
  color: #000;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin: 0 0 2em 0;
}

.btn-primary:hover {
  background-color: white;
  background: #218bf5;
  color: #fff;
}
